---
import { getLocale } from "astro-i18n-aut";
import { loadNamespaces, t } from "../../i18n/i18n";
interface Props {
    style: CardStyle;
    accentColor: string;
}

export type CardStyle = "landing" | "resume" | "projects" | "contact";

const { style, accentColor } = Astro.props;

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["landing"];
await loadNamespaces(locale, namespaces);
---

{
    style === "landing" && (
        <div class="banner landing">
            <h1 class="hello">
                <div class="top-bar">
                    <p>Hello, my name is</p>
                </div>
                <p>dalibor</p>
            </h1>
        </div>
    )
}

{
    style === "projects" && (
        <div class="banner projects">
            <h1 class="hello">
                <p>{t("landing:projects_title_page")}</p>
            </h1>
        </div>
    )
}

{
    style === "contact" && (
        <div class="banner contact">
            <h1 class="hello">
                <p>{t("landing:contact_title_page")}</p>
            </h1>
        </div>
    )
}
<style define:vars={{ accentColor }}>
    .banner {
        display: flex;
        width: min-content;
    }

    .hello {
        font-family: "Major Mono Display";
    }

    .top-bar p {
        margin-left: 2px;
        margin-bottom: -5px;
        font-size: min(5vw, 0.875rem);
        font-style: italic;
        letter-spacing: -1px;
        word-spacing: -5px;
        color: rgba(255, 255, 255, 0.5);
    }

    .hello > p {
        color: black;
        font-size: min(15vw, 3rem);
        font-style: normal;
    }
</style>
