---
import { loadNamespaces } from "../../i18n/i18n";
import { getLocale } from "astro-i18n-aut";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["landing"];
await loadNamespaces(locale, namespaces);
---

<div class="top-panel">
    <i class="gg-info"></i>
    <p>Your browser currently does not support some of the features used on this site. Viewing experience may not be optimal.</p>
    <i class="gg-close"></i>
</div>

<style>
    @import url("css.gg/icons/css/close.css");

    .top-panel {
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 50px;
        background-color: #DAD06F;
        align-items: center;
        color: black;
        transition: transform 400ms ease-in-out;
        z-index: 3000;
        display: none;
        grid-auto-flow: column;
        justify-content: space-between;
        gap: 1rem;

        .gg-close {
            color: inherit;
            margin-right: 1rem;
            cursor: pointer;
            --ggs: 1.2;
        }

        & p {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .gg-info {
            color: inherit;
            --ggs: 1.5;
            margin-left: 1rem;
        }

        &.enabled {
            display: grid;
        }

        &.hidden {
            transform: translateY(-100%);
        }
    }
</style>

<script>
    const showWarning = () => {
        //@ts-ignore - ignore for now, because it is not widely supported, thus, the function does not exist in typings yet
        const supportsViewTransitions = !!document.startViewTransition;
        if (supportsViewTransitions) {
            return;
        }

        const topPanel = document.querySelector<HTMLDivElement>(".top-panel");
        const topPanelButton = topPanel?.querySelector(".gg-close");
        const warningShown = window.localStorage.getItem("warningShown");

        if (warningShown === "true") {
            return;
        }

        topPanel?.classList.add("enabled");
        window.localStorage.setItem("warningShown", "true");

        topPanelButton?.addEventListener("click", () => {
            topPanel?.classList.add("hidden");
        });

        setTimeout(() => {
            topPanel?.classList.add("hidden");
        }, 5000);
    };
    showWarning();
</script>
