---
import { loadNamespaces } from "../../i18n/i18n";
import { getLocale } from "astro-i18n-aut";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["landing"];
await loadNamespaces(locale, namespaces);
---

<div class="top-panel">
    <p>Your browser currently does not support some of the features used on this site. Viewing experience may not be optimal.</p>
    <i class="gg-close"></i>
</div>

<style>
    @import url("css.gg/icons/css/close.css");

    .top-panel {
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 50px;
        background-color: rgba(255, 204, 0, 1);
        display: inline-flex;
        align-items: center;
        color: black;
        transition: transform 400ms ease-in-out;
        z-index: 3000;
        display: none;

        & p {
            padding: 1rem;
            margin-left: auto;
        }

        .gg-close {
            color: inherit;
            margin-left: auto;
            padding-right: 2rem;
            cursor: pointer;
            transform: scale(1.3);
        }
        &.enabled {
            display: initial;
            transform: translateY(-100%);
        }
    }
</style>

<script>
    const showWarning = () => {
        //@ts-ignore - ignore for now, because it is not widely supported, thus, the function does not exist in typings yet
        const supportsViewTransitions = !!document.startViewTransition;
        if(supportsViewTransitions) {
            return;
        }

        const topPanel = document.querySelector<HTMLDivElement>(".top-panel");
        const topPanelButton = topPanel?.querySelector(".gg-close");
        const warningShown = window.localStorage.getItem("warningShown");

        if (warningShown === "true") {
            return;
        }
        window.localStorage.setItem("warningShown", "true");

        topPanelButton?.addEventListener("click", () => {
            topPanel?.classList.add("enabled");
        });

        setTimeout(() => {
            topPanel?.classList.add("enabled");
        }, 5000);
    };
    showWarning();
</script>
