---
interface Props {
    accentColor: string
}

const { accentColor } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<a href={`${baseUrl}`} aria-label="Go home" title="Home page" class="floating-menu">
    <i class="gg-home"></i>
</a>

<style define:vars={{accentColor}}>
    @import url("css.gg/icons/css/home.css");

    .floating-menu {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: var(--card-color);
        color: #fff;
        border-radius: 10px;
        text-align: center;
        font-size: 30px;
        border: 2px solid rgba(var(--accentColor), 0.5);
        z-index: 2000;
        

        & i {
            color: rgba(var(--accentColor), 1);
            opacity: 0.75;
            transition: all 300ms ease-in-out;
        }

        &:hover {
            cursor: pointer;

            & i {
                opacity: 1;
                transform: scale(1.2);
        }
        }
    }
</style>
