---
import { Image } from "astro:assets";
import astroSvg from "../../../public/assets/img/astro/simple-full-logo-light.svg";

const baseUrl = import.meta.env.BASE_URL;
---

<footer class="footer-container">
    <p>Vytvořil Dalibor Hon</p>
    <p>Hostováno s ❤️ na <a href="https://www.github.com">GitHubu</a>.</p>
    <p>
        Vytvořeno s
        <a href="https://astro.build/" aria-label="Astro Framework." title="Astro Framework">
            <Image src={astroSvg} alt="Astro.build logo." class="svg-astro" />
        </a>.
    </p>
</footer>

<style>
    /* Footer */
    .footer-container {
        max-width: 500px;
        height: auto;
        margin: 0px auto;
        padding: 2rem;
        text-align: center;
    }

    .footer-container p {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 300;
    }

    .svg-astro {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        width: 45px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(100%) grayscale(100%);
        opacity: 50%;
    }
</style>
