---
import { Image } from "astro:assets";
import astroSvg from "../../../public/assets/img/astro/simple-full-logo-light.svg";
import LanguageSelector from "./LanguageSelector.astro";
---

<footer class="footer-container">
    <p>Vytvořil Dalibor Hon</p>
    <p>Hostováno s ❤️ na <a href="https://www.github.com">GitHubu</a>.</p>
    <p>
        Vytvořeno s
        <a href="https://astro.build/" aria-label="Astro Framework." title="Astro Framework">
            <Image src={astroSvg} alt="Astro.build logo." class="svg-astro" />
        </a>.
    </p>
    <div class="lang">
        <p>Jazyk:</p>
        <LanguageSelector buttonId="langFooterButton" dropdownId="langFooterDropdown" placement="top"/>
    </div>
</footer>

<style>
    /* Footer */
    .footer-container {
        height: auto;
        margin: 0px auto;
        padding: 2rem;
        text-align: center;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 300;
    }

    .footer-container .lang {
        gap: 0.25rem;
        display: flex;
        flex-direction: row;
        margin-top: 0.25rem;
        justify-content: center;
        align-items: center;
        text-align: unset;
    }

    .svg-astro {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        width: 45px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(100%) grayscale(100%);
        opacity: 50%;
    }
</style>
