---
import LanguageSelector from "./LanguageSelector.astro";
interface Props {
    style: CardStyle;
    accentColor: string;
}

export type CardStyle = "landing" | "resume" | "projects" | "contact";

const { style, accentColor } = Astro.props;
---

{
    style === "landing" && (
        <div class="hero" transition:name="title-name">
            <h1 class="hello">
                <p>Hello, my name is</p>
                <p>
                    dalibor
                </p>
            </h1>
            <LanguageSelector buttonId="headerLanguageButton" dropdownId="headerLanguageDropdown" showFlag={true} showTitle={true} placement="bottom" />
        </div>
    )
}

{
    style === "projects" && (
        <div class="hero projects" transition:name="title-name">
            <h1 class="hello">
                <p>projeKty pRojects</p>
            </h1>
        </div>
    )
}

{
    style === "contact" && (
        <div class="hero contact" transition:name="title-name">
            <h1 class="hello">
                <p>Kontakt coNtact</p>
            </h1>
        </div>
    )
}

<style define:vars={{accentColor}}>
    .hero {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1000;

        @media (max-width: 1000px) {
            justify-content: center;
        }

        .hello {
            line-height: 1;
            font-family: "Major Mono Display";

            & p:nth-of-type(1) {
                margin-left: 2px;
                margin-bottom: -5px;
                font-size: 0.85rem;
                font-style: italic;
                letter-spacing: -1px;
                word-spacing: -5px;
                color: rgba(255, 255, 255, 0.3);
            }

            & p:nth-of-type(2) {
                color: rgba(var(--accentColor), 1);
                font-size: 3rem;
                font-style: normal;
            }
        }

        &.contact,
        &.projects {
            .hello p {
                font-size: 3rem;
                color: rgba(var(--accentColor), 1);
                font-style: normal;

                @media (max-width: 600px) {
                    font-size: 2rem;
                }
            }
        }
    }
</style>
