/* The cards and its effects were mostly made by https://codepen.io/Hyperplexed/. Thanks! */

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    body {
        height: auto;
    }
}

/*
#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}
*/

#cards {
    display: grid;
    max-width: calc(100vw - 20px);
    gap: 8px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

@media (max-width: 1000px) {
    #cards {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    .cards-landing .card:nth-of-type(3) {
        grid-column: 1 / -1;
    }
}

@media (max-width: 740px) {
    #cards {
        grid-template-columns: minmax(300px, 1fr);
    }

    #cards .card:nth-of-type(3) {
        grid-column: unset;
    }
}


#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: var(--card-bg);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    /* width: 300px; */
    --hover-opacity: 0;
}

@media (max-width: 740px) {
    .card {
        width: calc(100vw - 200px);
        height: 250px;
    }
}

@media (max-width: 500px) {
    .card {
        width: calc(100vw - 80px);
        height: 200px;
    }
}

@media (max-width: 350px) {
    .card {
        width: calc(100vw - 20px);
        height: 200px;
    }
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: var(--hover-opacity);
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(var(--accentColor), 0.06), transparent 40%);
    z-index: 3;
}

.card::after {
    background: radial-gradient(1100px circle at var(--mouse-x) var(--mouse-y), rgba(var(--accentColor), 0.5), transparent 40%);
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4 {
    color: rgb(240, 240, 240);
    font-weight: 400;
}

i {
    color: rgb(240, 240, 240);
}

.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card-image > i {
    --ggs: 4.5;
    opacity: 0.25;
}

@media (max-width: 350px) {
    .card-image > i {
        --ggs: 3.5;
    }
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info > i {
    margin-top: 2px;
    transform: scale(0.85);
}

.card-info-title > h3,
.card-info-title > a {
    font-size: 1.1em;
    line-height: 20px;
}

.card-info-title > h4,
.card-info-title > p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}

.card-image > .gg-git-fork {
    margin-right: 25px;
}