---
import FloatingHomeButton from "../../components/astro/FloatingHomeButton.astro";
import CardLayout from "../../layouts/CardLayout.astro";

const accentColor = "var(--accent-resume)";
---

<CardLayout accentColor={accentColor} cardStyle="resume">
    <div class="resume-wrapper">
        <section class="resume-section">
            <div class="side-panel">TOP</div>
            <div class="section-content">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Mauris dictum
                    facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                    Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Mauris
                    elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aenean vel massa quis mauris vehicula lacinia. In
                    rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien elit, consequat eget, tristique non, venenatis
                    quis, ante. Nam quis nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut, suscipit at, pharetra
                    vitae, orci. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos hymenaeos. Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui, pellentesque a, faucibus vel,
                    interdum nec, diam. Mauris elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aenean vel massa quis
                    mauris vehicula lacinia. In rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien elit, consequat eget,
                    tristique non, venenatis quis, ante. Nam quis nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut,
                    suscipit at, pharetra vitae, orci. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui,
                    pellentesque a, faucibus vel, interdum nec, diam. Mauris elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Aenean vel massa quis mauris vehicula lacinia. In rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien
                    elit, consequat eget, tristique non, venenatis quis, ante. Nam quis nulla.
                </p>
            </div>
        </section>
        <section class="resume-section">
            <div class="side-panel">SECOND</div>
            <div class="section-content">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Mauris dictum
                    facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                    Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Mauris
                    elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aenean vel massa quis mauris vehicula lacinia. In
                    rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien elit, consequat eget, tristique non, venenatis
                    quis, ante. Nam quis nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut, suscipit at, pharetra
                    vitae, orci. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos hymenaeos. Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui, pellentesque a, faucibus vel,
                    interdum nec, diam. Mauris elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aenean vel massa quis
                    mauris vehicula lacinia. In rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien elit, consequat eget,
                    tristique non, venenatis quis, ante. Nam quis nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut,
                    suscipit at, pharetra vitae, orci. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui,
                    pellentesque a, faucibus vel, interdum nec, diam. Mauris elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Aenean vel massa quis mauris vehicula lacinia. In rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien
                    elit, consequat eget, tristique non, venenatis quis, ante. Nam quis nulla.
                </p>
            </div>
        </section>
        <section class="resume-section">
            <div class="side-panel last">THIRD</div>
            <div class="section-content">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Mauris dictum
                    facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                    Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Mauris
                    elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aenean vel massa quis mauris vehicula lacinia. In
                    rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien elit, consequat eget, tristique non, venenatis
                    quis, ante. Nam quis nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut, suscipit at, pharetra
                    vitae, orci. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos hymenaeos. Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui, pellentesque a, faucibus vel,
                    interdum nec, diam. Mauris elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aenean vel massa quis
                    mauris vehicula lacinia. In rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien elit, consequat eget,
                    tristique non, venenatis quis, ante. Nam quis nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Aliquam ante. In sem justo, commodo ut,
                    suscipit at, pharetra vitae, orci. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo. Aenean vel massa quis mauris vehicula lacinia. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Nunc dapibus tortor vel mi dapibus sollicitudin. Nullam rhoncus aliquam metus. Curabitur sagittis hendrerit ante. Sed elit dui,
                    pellentesque a, faucibus vel, interdum nec, diam. Mauris elementum mauris vitae tortor. Duis pulvinar. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Aenean vel massa quis mauris vehicula lacinia. In rutrum. Etiam bibendum elit eget erat. Suspendisse nisl. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Etiam sapien
                    elit, consequat eget, tristique non, venenatis quis, ante. Nam quis nulla.
                </p>
            </div>
        </section>
    </div>
</CardLayout>

<FloatingHomeButton accentColor={accentColor} />

<style define:vars={{ accentColor }}>
    :global(.card > .card-content) {
        padding: 0 !important; /* TODO: This is ugly, find a better way */
    }

    body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }

    .resume-section {
        position: relative;
    }

    .side-panel {
        position: absolute;
        left: 0;
        writing-mode: vertical-rl;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px dotted rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        height: 100%;
        width: 2rem;
        letter-spacing: 5px;
        font-weight: bold;
        opacity: 0.6;
        line-height: 1;
        font-size: 0.85rem;
    }

    .side-panel.last {
        border-bottom: unset;
    }

    .section-content {
        padding: 1rem 1rem 1rem 3rem;
    }

    h2 {
        line-height: 1;
        font-family: muli;
        font-size: 3rem;
        font-weight: bold;
    }
</style>
