---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";
import Footer from "../components/astro/Footer.astro";
import { getLocaleUrl } from "astro-i18n-aut";
import { getLocaleEx } from "../i18n/i18n-aut-ex";
import { loadNamespaces, t } from "../i18n/i18n";

const accentColor = "var(--accent)";

// i18next
const locale = getLocaleEx(Astro);
const namespaces = ["landing"];
await loadNamespaces(locale, namespaces);
---

<Layout title="Welcome to Astro.">
    <main>
        <Hero style="landing"/>
        <div id="cards">
            <a href={getLocaleUrl("/resume", locale)} class="card" title="Resume">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-file-document"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-file-document"></i>
                            <div class="card-info-title">
                                <h3>{t("landing:resume_title")}</h3>
                                <h4>{t("landing:resume_description")}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href={getLocaleUrl("/projects", locale)} class="card" title="My projects">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-git-fork"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-git-fork"></i>
                            <div class="card-info-title">
                                <h3>{t("landing:projects_title")}</h3>
                                <h4>{t("landing:projects_description")}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href={getLocaleUrl("/contact", locale)} class="card" title="Contact form">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-mail"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-mail"></i>
                            <div class="card-info-title">
                                <h3>{t("landing:contact_title")}</h3>
                                <h4>{t("landing:contact_description")}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </main>
    <Footer/>
</Layout>

<script>
    import * as card from "../scripts/setup-cards";

    document.addEventListener(
        "astro:page-load",
        (e) => {
            e.target?.removeEventListener;
            card.setupCards();
        },
        { once: false },
    );
</script>

<style define:vars={{accentColor}}>
    @import url(../styles/cards.css);
</style>
