---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";
import Footer from "../components/astro/footer/Footer.astro";
import { getLocaleUrl, getLocale } from "astro-i18n-aut";
import i18n, { loadNamespaces, t  } from "../i18n/i18n";

const accentColor = "var(--accent)"; // Color is in RGB

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["landing"];
await loadNamespaces(locale, namespaces);
---

<Layout title="Dalibor Hon">
    <main> 
        <Hero style="landing" accentColor={accentColor}/> 
        <div id="cards" class="cards-landing">
            <a href={getLocaleUrl("/resume", locale)} rel="prefetch" class="card" title="Resume">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-file-document"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-file-document"></i>
                            <div class="card-info-title">
                                <h3>{t("landing:resume_title")}</h3>
                                <h4>{t("landing:resume_description")}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href={getLocaleUrl("/projects", locale)} rel="prefetch" class="card" title="My projects">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-git-fork"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-git-fork"></i>
                            <div class="card-info-title">
                                <h3>{t("landing:projects_title")}</h3>
                                <h4>{t("landing:projects_description")}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href={getLocaleUrl("/contact", locale)} rel="prefetch" class="card" title="Contact form">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-mail"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-mail"></i>
                            <div class="card-info-title">
                                <h3>{t("landing:contact_title")}</h3>
                                <h4>{t("landing:contact_description")}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </main>
    <Footer accentColor={accentColor} />
</Layout>

<script>
    import * as card from "../scripts/setup-cards";

    document.addEventListener(
        "astro:page-load",
        (e) => {
            e.target?.removeEventListener;
            card.setupCards();
        },
        { once: false },
    );
</script>

<style define:vars={{accentColor}}>
    @import url(../styles/cards.css);

    main {}
</style>
