---

---

<div class="hero" transition:name="title-name">
    <div class="hello">
        <p>Hello,</p>
        <p>my name is</p>
    </div>
    <div class="name">
        <p>Dalibor</p>
    </div>
</div>

<style>
    .hero {
        display: flex;
        padding: 1rem 1rem 1rem 0rem;
        font-size: 5.25rem;

        .hello {
            font-size: 3rem;
            flex-direction: column;
            display: flex;
            justify-content: flex-end;

            & p:nth-of-type(2) {
                font-size: 1.45rem;
            }
        }

        .name {
            margin-left: 5px;
        }
    }
</style>

<script>
    
</script>
