---
import FloatingHomeButton from "../../components/astro/FloatingHomeButton.astro";
import Footer from "../../components/astro/Footer.astro";
import Hero from "../../components/astro/Hero.astro";
import Stars from "../../components/astro/Stars.astro";
import Layout from "../../layouts/Layout.astro";

const accentColor = "var(--accent-projects)";
---

<Layout title="Welcome to Astro.">
    <FloatingHomeButton accentColor={accentColor} />
    <main>
        <Hero style="projects" accentColor={accentColor} />
        <div id="cards">
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-file-document"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-file-document"></i>
                            <div class="card-info-title">
                                <h3><a href="#" target="_blank">This website</a></h3>
                                <h4>Source code for this website</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-file-document"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-file-document"></i>
                            <div class="card-info-title">
                                <h3><a href="https://github.com/dallyh/lemmy-kt-client" target="_blank">Lemmy Kotlin Client</a></h3>
                                <h4>A multiplatform client for <a href="https://join-lemmy.org/" target="_blank">Lemmy</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <i class="gg-file-document"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <i class="gg-file-document"></i>
                            <div class="card-info-title">
                                <h3><a href="https://github.com/dallyh/web-resume" target="_blank">Old website</a></h3>
                                <h4>Source code for my older website</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<Footer />

<script>
    import * as card from "../../scripts/setup-cards";

    document.addEventListener(
        "astro:page-load",
        (e) => {
            e.target?.removeEventListener;
            card.setupCards();
        },
        { once: false },
    );
</script>

<style define:vars={{ accentColor }}>
    @import url(../../styles/cards.css);

    .card {
        cursor: auto;
    }
    .card::before {
        pointer-events: none;
    }
</style>
