#fs-frm input:not([type="submit"]),
#fs-frm textarea {
    border-radius: 10px;
    min-height: 40px;
    background-color: var(--card-bg);
    padding: 0.5rem 0.8rem;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

#fs-frm .textarea-container {
    height: calc(100% - 31px);
    width: 100%;
    position: relative;

    textarea {
        width: 100%;
        height: 100%;
    }

    .textarea-bg {
        z-index: -1;
        margin: 8px 0;
        padding: 0.5rem 0.8rem;
        opacity: 0.5;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: url("../../../assets/img/contact/email.svg");
        background-position: center;
        filter: brightness(0.2);
    }
}

#fs-frm {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
}

#fs-frm fieldset {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;

    @media (max-width: 768px) {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
}

#fs-frm #fs-frm-submit-button {
    width: max-content;
    align-self: end;
}

/* Chrome shenanigans */
input:autofill {
    box-shadow: 0 0 0 1000px var(--card-bg) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 600000s 0s, color 600000s 0s !important;
}

#fs-frm textarea {
    resize: vertical;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: transparent;
    outline-style: solid;
    outline-width: thin;
    outline-color: rgba(var(--accent), 0.5);
    outline-offset: -1px;
}

#fs-frm #fs-frm-form-status {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 10px;
}

#fs-frm #fs-frm-form-status::first-letter {
    text-transform: capitalize;
}

#fs-frm .error {
    margin: 0.5rem 0 0.5rem 0.2rem;
    color: red;
}

#submit-success {
    text-align: center;
    padding: 1rem;
    font-size: 1.25rem;
    color: rgba(var(--accent), 1);
}

#fs-frm .button {
    border: 2px solid rgba(var(--accent), 1);
    backdrop-filter: blur(3px);
}

#fs-frm .button:hover {
    background-color: rgba(var(--accent), 1);
}

#submitting {
    display: flex;
    justify-content: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgba(var(--accent), 1) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
