---
import { ViewTransitions } from "astro:transitions";
import "../styles/reset.css";
import "../styles/global.css";
import HeadHrefLangs from "../components/astro/HeadHrefLangs.astro";
import i18n from "../i18n/i18n";

interface Props {
    title: string;
}

const { title } = Astro.props;
const basePath = import.meta.env.BASE_URL;

// Init just once on layout render
if (!i18n.isInitialized) {
    i18n.init();
}

---

<!doctype html>
<html lang="cs">
    <head>
        <ViewTransitions fallback="swap" />
        <HeadHrefLangs />
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={`${basePath}favicon.svg`} />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link href="https://unpkg.com/css.gg@2.0.0/icons/css/folder.css" rel="stylesheet" />
        <!-- <link rel="preload" href="https://use.typekit.net/bxg2com.css" as="style" /> -->
        <link rel="stylesheet" href="https://use.typekit.net/bxg2com.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap" rel="stylesheet" />
        <script type="module" defer>
            import { polyfillCountryFlagEmojis } from "https://cdn.skypack.dev/country-flag-emoji-polyfill";
            document.addEventListener(
                "astro:page-load",
                (e) => {
                    polyfillCountryFlagEmojis();
                },
                { once: false },
            );
        </script>
    </head>
    <body>
        <slot />
    </body><script>
        import DropdownHandler from "../scripts/dropdown";

        document.addEventListener(
            "astro:page-load",
            (e) => {
                DropdownHandler.init();
            },
            { once: false },
        );
    </script>
</html>
